<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Selector</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <!-- Leaflet Timeline CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='leaflet.timeline.min.css') }}">



</head>

<body class="page-style">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-3"> MOVIE SELECTOR</h1>
            <p class="lead">Help people to diced of a combination of a director, actor, and writer produce highly voted
                movies in their speak genres. </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>THE MAP</h3>
                <img src="pictures/cia-world-map.gif" alt="Spongebob!" style="width:650px;height:300px;" />

                <br>
                <div id="map" style="height: 400px"></div>
            </div>


            <div class="col-md-3">
                <hr>

                <h3>Select</h3>
                <table>
                    <tr>
                        <th>Top 5 Movies</th>
                        <th>Top 5 Actors</th>
                        <th>Top 5 Directors</th>
                    </tr>

                    <tr>
                        <td>Movie 1 </td>
                        <td>Actor 1 </td>
                        <td>Director 1 </td>
                    </tr>

                    <tr>
                        <td>Movie 2 </td>
                        <td>Actor 2 </td>
                        <td>Director 2 </td>
                    </tr>

                    <tr>
                        <td>Movie 3</td>
                        <td>Actor 3 </td>
                        <td>Director 3 </td>
                    </tr>

                    <tr>
                        <td>Movie 4 </td>
                        <td>Actor 4 </td>
                        <td>Director 4 </td>
                    </tr>

                    <tr>
                        <td>Movie 5 </td>
                        <td>Actor 5 </td>
                        <td>Director 5 </td>
                    </tr>

                </table>
                <hr>
                <div class="belly">
                    <select class="row form-control" id="selDataset"></select>
                </div>

            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-6">
                <h3>CHART 1</h3>
                <img src="pictures/fms-safran1.jpg" alt="Spongebob!" style="width:400px;height:550px;" />
                <hr>

                <!-- <h4>Plot Chart</h4> -->

                <div class="belly">
                    <div id="plotChart"></div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>CHART 2</h3>
                <img src="pictures/fms-amasya.jpg" alt="Spongebob!" style="width:400px;height:550px;" />

                <hr>

                <!-- <h4>Plot Chart</h4> -->

                <div class="belly">
                    <div id="plotChart"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-6">
                <h3>CHART 3</h3>
                <img src="pictures/semaver.jpg" alt="Spongebob!" style="width:400px;height:550px;" />
                <hr>

                <!-- <h4>Plot Chart</h4> -->

                <div class="belly">
                    <div id="plotChart"></div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>CHART 4</h3>
                <img src="pictures/safranbolu-2.jpg" alt="Spongebob!" style="width:400px;height:550px;" />
                <hr>

                <!-- <h4>Plot Chart</h4> -->

                <div class="belly">
                    <div id="plotChart"></div>
                </div>
            </div>
        </div>
        <hr>

    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"></script>
    <!-- Leaflet Timeline JavaScript -->
    <script src="{{ url_for('static', filename='js/leaflet.timeline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map-time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>